@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  --primary-color: #011638;
  --secondary-color: #2e294e;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas {
  border: 2px solid var(--secondary-color);
  background-color: #f5f5f5;
  margin-bottom: 10px;
}

.toolbox {
  background-image: linear-gradient(
    180deg,
    var(--secondary-color),
    var(--primary-color)
  );
  border: 1px solid #2e294e;
  display: flex;
  width: 804px;
  padding: 1rem;
  border-radius: 50px;
}

.toolbox > * {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  border-radius: 50%;
  background-color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  outline: none;
}

input[type='color'] {
  background-color: transparent;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: 1px solid #fff;
  border-radius: 50%;
}

.toolbox > *:last-child {
  margin-left: auto;
}
