@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
