@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #86a5d9;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 200px;
}

.toggle {
  visibility: hidden;
}

.label {
  width: 80px;
  height: 40px;
  background-color: #d0d0d0;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  margin: 0 15px 0;
  position: relative;
}

.toggle:checked + .label {
  background-color: #8e44ad;
}

#beautiful:checked + .label {
  background-color: #ffc857;
}

#cheap:checked + .label {
  background-color: #9be564;
}

#fast:checked + .label {
  background-color: #5f4bb6;
}

.ball {
  background: #86a5d9;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  align-items: center;
  justify-content: center;
  animation: slideOff 0.3s linear forwards;
}

.toggle:checked + .label .ball {
  animation: slideOn 0.3s linear forwards;
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  /* SCHANGING SIZE */
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(40px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(40px) scale(1);
  }
  /* SCHANGING SIZE */
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

/* CUSTOMIZATION */
#chart {
  border: 2px solid #d0d0d0;
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px auto 0 auto;
  width: 36rem;
  height: 30px;
}

#performance {
  background-color: #5f4bb6;
}

#design {
  background-color: #ffc857;
}

#profit {
  background-color: #9be564;
}

#chart div {
  color: #000;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
